<!--suppress ThymeleafVariablesResolveInspection -->
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="navbar" class="navbar-container">
    <a class="home-button" th:href="@{/}">
        <h3>Loja de <br> Presentes</h3>
    </a>

    <ul class="menu-container">
        <li th:onclick="|window.location.href='@{/}'|" th:classappend="${#httpServletRequest.getRequestURI().equals('/') ? 'active' : ''}">
            CATÁLOGO
        </li>
        <li th:onclick="|window.location.href='@{/panel}'|" th:classappend="${#httpServletRequest.getRequestURI().startsWith('/panel') ? 'active' : ''}">
            PAINEL
        </li>
    </ul>

    <th:block th:if="${T(iftm.pedro.aproject.auth.Utils).isAuthenticated()}">
        <div class="menu-client-container">
            <div class="menu-client-cart">
                <img th:src="@{~/images/shopping_cart.svg}" alt="">
                <div></div>
            </div>
            <div class="menu-client-logout">
                <p>SAIR</p>
                <span th:text="${T(iftm.pedro.aproject.auth.Utils).getAuthenticated()}"></span>
            </div>
        </div>
        <script th:inline="javascript">cardCount()</script>
    </th:block>
</nav>

<div th:fragment="productPageable(totalPages, currentPage, path)" class="pagination-container">
    <a th:href="@{${path}(page=${currentPage - 1})}" style="margin-right: 12px;" th:class="${currentPage > 0 ? 'active-page' : 'inactive-page' }"><i class="fas fa-chevron-left"></i></a>
    <a th:href="@{${path}(page=${number})}" th:each="number : ${#numbers.sequence(0, totalPages - 1)}" class="pagination-content" th:classappend="${currentPage == number ? 'active' : ''}" th:text="${number + 1}"></a>
    <a th:href="@{${path}(page=${currentPage + 1})}" th:class="${currentPage < (totalPages - 1) ? 'active-page' : 'inactive-page' }"><i class="fas fa-chevron-right"></i></a>
</div>

<!--/* @thymesVar id="product" type="iftm.pedro.aproject.dtos.ProductDTO" */-->
<div th:fragment="productCard(product)" class="product-card-container">
    <h3 th:text="${product.name}"></h3>
    <div class="product-card-content">
        <img th:src="${product.imgUrl}" alt="Imagem do produto">
        <div>
            <p th:text="${product.description}">Descrição do produto</p>
            <div th:if="${T(iftm.pedro.aproject.auth.Utils).isAuthenticated()}" class="product-card-quantity-box">
                <span>Quantidade</span>
                <div>
                    <button type="button" data-quantity="minus" th:attr="item-target=${product.id}">-</button>
                    <input type="text" th:name="${product.id}" value="1" disabled>
                    <button type="button" data-quantity="plus" th:attr="item-target=${product.id}">+</button>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${T(iftm.pedro.aproject.auth.Utils).isAuthenticated() && T(iftm.pedro.aproject.controllers.HomeController).isItemSelected(#httpServletRequest, product.id)}" class="product-card-buy product-added">ADICIONADO</div>
    <div class="product-card-buy" th:if="${T(iftm.pedro.aproject.auth.Utils).isAuthenticated() && !T(iftm.pedro.aproject.controllers.HomeController).isItemSelected(#httpServletRequest, product.id)}">
        <span th:inline="text"> <b>R$</b> [[${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')}]]</span>
        <button th:id="${product.id}"> <i class="fas fa-cart-plus"></i> ADICIONAR AO CARRINHO</button>
    </div>

    <div class="product-price-container" th:if="${!T(iftm.pedro.aproject.auth.Utils).isAuthenticated()}">
        <span class="price-currency">R$</span>
        <h3 class="price" th:text="${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')}"></h3>
    </div>
</div>

<aside th:fragment="asidebar" class="aside-menu-container">
    <ul>
        <li class="aside-menu-item" th:onclick="|window.location.href='@{/panel}'|" th:classappend="${#httpServletRequest.getRequestURI().equals('/panel') ? 'active' : ''}">
            Presentes e envios
        </li>
        <li class="aside-menu-item" th:if="${T(iftm.pedro.aproject.auth.Utils).isAdmin()}" th:onclick="|window.location.href='@{/panel/items}'|" th:classappend="${#httpServletRequest.getRequestURI().equals('/panel/items') ? 'active' : ''}">
            Itens
        </li>
        <li class="aside-menu-item" th:if="${T(iftm.pedro.aproject.auth.Utils).isAdmin()}" th:onclick="|window.location.href='@{/panel/payloads}'|" th:classappend="${#httpServletRequest.getRequestURI().equals('/panel/payloads') ? 'active' : ''}">
            Encomendas
        </li>
    </ul>
</aside>

<footer th:fragment="footer" class="footer-container">
    <h4>CRIADO COM <i class="fas fa-heart"></i> E ÓDIO</h4>
    <p>Pedro Rafael Pereira e Mateus Rosa</p>
</footer>

<!--/* @thymesVar id="order" type="iftm.pedro.aproject.dtos.OrderDTO" */-->
<div th:fragment="orderCard(order)">
    <div class="order-card-id" th:text="${'# ' + order.getId()}"> </div>
    <div class="order-card-infos">
        <div>
            <p>SUBTOTAL</p>
            <span th:text="${'R$ ' + #numbers.formatDecimal(order.getSubTotal(), 0, 'POINT', 2, 'COMMA')}"></span>
        </div>
        <div>
            <p>PESO</p>
            <span th:text="${#numbers.formatDecimal(order.getTotalWeight(),1,2,'COMMA') + ' Kg'}"></span>
        </div>
    </div>
    <div class="order-card-items">
        <table>
            <tr th:each="item : ${order.getProducts()}">
                <td th:text="${item.getKey()}"></td>
                <td th:text="${#numbers.formatInteger(item.getValue(),2)}"></td>
            </tr>
        </table>
    </div>
    <div class="order-card-status" th:text="${order.getStatus()}"></div>

    <th:block th:if="${!order.getStatus().equals('ENCOMENDA FEITA') && !#httpServletRequest.getRequestURI().equals('/panel/sending')}">
        <div class="order-card-buttons">
            <a th:href="@{/panel/sending(id=${order.getId()})}">
            <button class="send">ENVIAR</button>
            </a>
            <form th:method="delete" th:action="@{/panel(orderId=${order.getId()})}">
                <button class="delete">EXCLUIR</button>
            </form>
        </div>
    </th:block>
</div>

<!--/* @thymesVar id="payload" type="iftm.pedro.aproject.dtos.PayloadDTO" */-->
<div th:fragment="payloadCard(payload)">
    <div class="payload-card-id" th:text="${'# ' + payload.getId()}"></div>
    <div class="payload-card-infos">
        <h4 th:text="${payload.getUsername()}"></h4>
        <div>
            <p>REMETENTE</p>
            <span th:text="${payload.getOrigin()}"></span>
        </div>
        <div>
            <p>DESTINATÁRIO</p>
            <span th:text="${payload.getDestiny()}"></span>
        </div>
    </div>
    <div class="payload-card-order" th:text="${'PEDIDO: # ' + payload.getOrder().getId()}"></div>
    <div class="payload-card-total">
        <div>
            <p>TOTAL</p>
            <span th:text="${'R$ ' + #numbers.formatDecimal(payload.getPrice(), 0, 'POINT', 2, 'COMMA')}"></span>
        </div>
        <div>
            <p>DISTÂNCIA</p>
            <span th:text="${#numbers.formatDecimal(payload.getDistance(),1,2,'COMMA') + ' KM'}"></span>
        </div>
    </div>
</div>

<!--/* @thymesVar id="product" type="iftm.pedro.aproject.dtos.ProductDTO" */-->
<div th:fragment="productCardAdmin(product)">
    <div class="col-2 text-center border-right py-3">
        <img th:alt="${product.name}" th:src="${product.imgUrl}" class="product-card-admin-img"/>
    </div>
    <div class="col-3 py-3">
        <h3 class="admin-card-content" th:text="${product.name}"> </h3>
        <div class="d-flex">
            <div class="product-price-container">
                <span class="price-currency">R$</span>

                <h3 class="price" th:inline="text">[[${#numbers.formatDecimal(product.price, 0, 'POINT', 2, 'COMMA')}]]</h3>
            </div>
            <div class="product-price-container">
                <span class="price-currency">(Kg)</span>
                <h3 class="price" th:inline="text">[[${#numbers.formatDecimal(product.weight,1,2,'COMMA')}]]</h3>
            </div>
        </div>
    </div>
    <div class="col-4 product-admin-description" th:text="${product.description}">

    </div>
    <div class="col-3 pt-3 pr-5">
        <a th:href="@{|/panel/items/${product.getId()}|}"><button type="button" class="btn btn-outline-secondary btn-block font-weight-bold ">EDITAR</button></a>
        <form th:action="@{|/panel/items/${product.getId()}|}" th:method="delete"><button type="submit" class="btn btn-outline-danger btn-block font-weight-bold mt-3"><strong>EXCLUIR</strong></button></form>
    </div>
</div>

<!--/* @thymesVar id="payload" type="iftm.pedro.aproject.dtos.PayloadDTO" */-->
<div th:fragment="payloadCardAdmin(payload)">
    <div class="payload-card-id" th:text="${'# ' + payload.getId()}"></div>
    <div class="payload-card-infos">
        <h4 th:text="${payload.getUsername()}"></h4>
        <div>
            <p>REMETENTE</p>
            <span th:text="${payload.getOrigin()}"></span>
        </div>
        <div>
            <p>DESTINATÁRIO</p>
            <span th:text="${payload.getDestiny()}"></span>
        </div>
    </div>
    <div class="payload-card-order" th:text="${'PEDIDO # ' + payload.getOrder().getId()}"></div>
    <div class="payload-card-total">
        <div>
            <p>TOTAL</p>
            <span th:text="${'R$ ' + #numbers.formatDecimal(payload.getPrice(), 0, 'POINT', 2, 'COMMA')}"></span>
        </div>
        <div>
            <p>DISTÂNCIA</p>
            <span th:text="${#numbers.formatDecimal(payload.getDistance(),1,2,'COMMA') + ' KM'}"></span>
        </div>
    </div>
    <div>
        <form th:method="delete" th:action="@{/panel/payloads(id=${payload.getId()})}"><button class="btn btn-sm btn-secondary w-100" type="submit">ENTREGAR</button></form>
    </div>
</div>

