<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{utils/panelLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/components.css" />
    <title>Envios</title>
</head>
<body>
<main layout:fragment="content">
    <div class="panel-content-section">
        <a th:href="@{/panel/items/creating}"><button class="clear-button btn btn-lg">ADICIONAR</button></a>
        <h3>Produtos</h3>
        <div class="product-list-admin">
            <div th:each="product : ${data.content}" th:include="~{utils/components :: productCardAdmin(${product})}" th:classappend="|card-base product-card-admin|"> </div>
        </div>
        <div class="pagination-container" th:include="~{utils/components :: productPageable(${data.totalPages}, ${data.number}, '/panel/items')}"></div>
    </div>
</main>
</body>
</html>