<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{utils/panelLayout}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/components.css" />
    <title>Envios</title>
</head>
<body>
    <main layout:fragment="content">
        <div class="card-base form-sending">
            <h2>ENVIO DE PRESENTE</h2>
            <div class="mt-3 ml-3 d-flex">
                <div th:include="~{utils/components :: orderCard(${order})}" th:classappend="order-card-container"></div>
                <form class="ml-5 d-flex flex-column" id="payload-form" th:method="POST" th:action="@{/panel/sending(orderId=${order.getId()})}" th:object="${addressForm}">
                    <div class="sending-form-label">
                        <label>
                            <span class="form-label">CEP ORIGEM</span>
                            <input class="payload-cep form-control input-base" data-mask="00000-000" th:field="*{originLocale}" th:errorclass="is-invalid"/>
                        </label>
                        <label>
                            <span>NÚMERO</span>
                            <input class="form-control input-base" data-mask="0000" th:field="*{originNumber}"/>
                        </label>
                    </div>
                    <div class="sending-form-label">
                        <label>
                            <span class="form-label">CEP DESTINO</span>
                            <input class="payload-cep form-control input-base" data-mask="00000-000" th:field="*{destinyLocale}" th:errorclass="is-invalid"/>
                        </label>
                        <label>
                            <span>NÚMERO</span>
                            <input class="form-control input-base" data-mask="0000" th:field="*{destinyNumber}"/>
                        </label>
                    </div>
                    <div class="sending-form-label">
                        <button class="btn btn-danger" type="button" th:onclick="|window.location.href='/panel'|">CANCELAR</button>
                        <button class="btn btn-secondary" type="submit" id="payload-submit">ENVIAR</button>
                    </div>

                    <span th:if="${#fields.hasErrors()}" class="text-danger">CEP INVÁLIDO OU NÃO ENCONTRADO</span>
                </form>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.11.2/jquery.mask.min.js"
                integrity="sha512-Y/GIYsd+LaQm6bGysIClyez2HGCIN1yrs94wUrHoRAD5RSURkqqVQEU6mM51O90hqS80ABFTGtiDpSXd2O05nw=="
                crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </main>
</body>
</html>