<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org"
      layout:decorate="~{utils/layout}">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja de Presentes</title>
</head>
<body>

<section layout:fragment="content">
    <div class="d-flex justify-content-around">
        <img class="login-image" th:src="@{~/images/Gifts-amico.svg}" alt="NOT"/>

        <div class="card-base form-login">
            <h3>ACESSAR PAINEL</h3>
            <form th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">Endereço de email</label>
                    <input type="email" class="form-control" id="username" name="username" placeholder="miguel@gmail.com">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <button type="submit" class="btn btn-lg btn-secondary ">ENTRAR</button>
            </form>
        </div>
    </div>
</section>
</body>
</html>